@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
}

:root {
    --font-family-titulo: "Gowun Batang", serif;
    --font-famyly-texto: "Poppins", sans-serif;
    --color-branca: #FFFFFF;
    --color-titulo: #A6779D;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 20%;
    gap: 60px;
}

.apresentacao__titulo {
    font-family: var(--font-family-titulo);
    font-weight: 300;
    font-size: 45px;
    color: var(--color-titulo);
}

.apresentacao__btn {
    font-family: var(--font-famyly-texto);
    color: var(--color-branca);
    text-decoration: none;
    background-color: #916D8A;
    padding: 8px;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0 2px 4px #ad71a2;
    width: 200px;
    text-align: center;
}



.apresentacao__texto {
    display: flex;
    gap: 20px;
    flex-direction: column;

}

.titulo_negrito {
    font-weight: 500;

}

.sobreMim__titulo {
    font-family: var(--font-family-titulo);
    color: var(--color-titulo);
    font-weight: 300;

}

.sobreMim__conteudo {
    font-family: var(--font-famyly-texto);
    max-width: 450px;
    color: var(--color-titulo);
    font-weight: 200;
}

.sobreMim {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 6% 25%;
}

.sobreMim__texto {
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-align: justify;
}


.sessaoTres_btn {
    font-family: var(--font-famyly-texto);
    color: var(--color-branca);
    text-decoration: none;
    background-color: #916D8A;
    padding: 8px;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0 2px 4px #ad71a2;
    width: 100px;
    text-align: center;
}

.imagem__coracao {
    width: 260px;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.paragrafo {
    color: var(--color-titulo);
    font-size: 24px;
}

.texto__sessaotres {
    color: var(--color-titulo);
    font-size: 36px;
    font-family: var(--font-family-titulo);
    font-weight: 400;
}

.sessaoTres {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 20%;
}

.paragrafos {
    display: flex;
    flex-direction: row;
}

.paragrafo {
    font-size: 24px;
}

.conteudo {
    display: flex;
    gap: 25px;
    align-items: center;
    flex-direction: column;
}

.btn_enviar {
    font-family: var(--font-famyly-texto);
    color: var(--color-branca);
    text-decoration: none;
    background-color: #916D8A;
    padding: 8px;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0 2px 4px #ad71a2;
    width: 100px;
    text-align: center;
    align-items: center;
    border: none;
}

.input_grande {
    background-color: #a6779d77;
    border: none;
    padding: 10px 5px;
    color: var(--color-branca);
    font-family: var(--font-family-titulo);
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
}

.input_grande::placeholder {
    color: var(--color-branca);
}

input {
    background-color: #a6779d77;
    border: none;
    padding: 10px 5px;
    color: var(--color-branca);
    font-family: var(--font-family-titulo);
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
}

input::placeholder {
    color: var(--color-branca);
}

.section_quatro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% 27%;
}

.imgquatro{
    display: flex;
}
.imgquatro img{
    width: 550px;
}
.section_quatro_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.section_quatro_form input,
.section_quatro_form textarea {
    width: 100%;
}


.input_grande {
    height: 140px;
    align-items: stretch;
}

.titulo__formulario {
    color: var(--color-titulo);
    font-family: var(--font-family-titulo);
    font-weight: 400;
    font-size: 38px;
}


.titulo__card {
    color: var(--color-titulo);
    font-size: 24px;
    font-family: var(--font-family-titulo);
}

.conteiner_card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    margin-top: 40px;
    margin: 5% 20%;
}

.PossoAjudar___Titulo {
    color: var(--color-titulo);
    font-family: var(--font-family-titulo);
    font-size: 38px;
    font-weight: 400;
    text-align: center;
}

.btn_saibaMais {
    font-family: var(--font-famyly-texto);
    color: var(--color-branca);
    text-decoration: none;
    background-color: #916D8A;
    padding: 6px 10px;
    border-radius: 10px;
    font-size: 13px;
    box-shadow: 0 2px 4px #ad71a2;
    width: 100px;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border: 1px solid var(--color-titulo);
    padding: 20px;
    border-radius: 12px;
    max-width: 290px;
}

.paragrafo__card {
    font-family: var(--font-famyly-texto);
    color: #a6779db3;
    font-size: 14px;
}

.PossoAjudar {
    margin-top: 4%;
}


.footer {
    padding: 40px 60px 20px;
    color: #b58ab3;
    /* tom lilás */
    font-family: 'Georgia', serif;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    border-bottom: 1px solid #b58ab3;
    padding-bottom: 20px;
}

.footer-name h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

.footer-contact {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.footer-contact .label {
    font-size: 14px;
    opacity: 0.8;
}

.footer-contact p {
    margin: 4px 0 0;
    font-size: 15px;
}

.footer-social {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.footer-social img {
    width: 35px;
    height: 35px;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.footer-social img:hover {
    opacity: 1;
}

img {
    max-width: 100%;
    height: auto;
}

main {
    overflow-x: hidden;
    background-color: rgba(166, 119, 157, 0.021);
}


@media (max-width: 1024px) {

    .apresentacao,
    .sessaoTres,
    .sobreMim,
    .section_quatro {
        margin: 5% 10%;
        gap: 40px;
    }
    .sessaoTres{
        margin-top: 15%;
    }

    .apresentacao {
        flex-direction: column;
        text-align: center;
    }

    .apresentacao__texto {
        align-items: center;
    }

    .sessaoTres {
        flex-direction: column;
        text-align: center;
    }

    .conteiner_card {
        grid-template-columns: repeat(2, 1fr);
        margin: 5% 10%;
    }

    .footer-container {
        grid-template-columns: 1fr;
        gap: 20px;
        text-align: center;
    }

    .footer-social {
        justify-content: center;
    }
}


@media (max-width: 768px) {

    .apresentacao__titulo {
        font-size: 25px;
        padding-top: -10%;
    }
    .logo{
        margin-bottom: 5px;
    }
    .sobreMim {
        flex-direction: column-reverse;
        text-align: center;
    }

    .sobreMim__conteudo {
        max-width: 100%;
    }

    .imagem__coracao {
        width: 200px;
    }

    .texto__sessaotres {
        font-size: 28px;
    }

    .section_quatro {
        flex-direction: column;
        gap: 40px;
        margin: 10%;
    }



    .section_quatro img {
        width: 500px;
    }

    input,
    textarea {
        width: 100%;
    }

    .conteiner_card {
        grid-template-columns: 1fr;
        margin: 10%;
    }

    .PossoAjudar___Titulo {
        font-size: 30px;
    }

    .titulo__formulario {
        font-size: 30px;
        text-align: center;
    }

    .footer {
        padding: 30px 20px;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        /* coluna */
        align-items: center;
        /* centraliza horizontal */
        gap: 12px;
        /* espaço entre os itens */
        text-align: center;
    }
    .footer-contact{
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
}

input:focus,
textarea:focus {
    outline: none;
    border: 2px solid #b08aa300;
    /* sua cor */
    box-shadow: 0 0 0 2px rgba(176, 138, 163, 0.3);
}


#aviso {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #A6779D;
    color: #fff;
    font-family: "Poppins", sans-serif;
    padding: 14px 18px;
    border-radius: 8px;
    z-index: 9999;
}

#aviso.mostrar {
    display: block;
}